ul{
   list-style: none;
  
}
ul li{
   display: inline-block;
   border: 1px solid red;
   margin-bottom: 10px;
   /*margin-right: 8px;*/
   border-radius: 10px;
   /*margin-left: -20px;*/
   padding: 0.5em;
   margin-left: 5px;
}
hr{
   margin-top: 10px;
   margin-bottom: 10px;
}
#responder{
   top:0px;
}
#titulo,#descripcion{
   background-image: linear-gradient(#8c898d, #8c898d), linear-gradient(#D2D2D2, #D2D2D2)
}
.formato_publicacion{
   height: 210px;
}
.foto_user , .info_user{
   padding-left: 0;
}