<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Publicaciones</h4>
                    <p class="category">Encontraras todas las rutas</p>
                </div>
                <div class="card-content" *ngIf='isLoggedIn()'>
                    <div class="col-md-2 col-sm-4">
                        <img src="{{userDetails.photoURL}}" alt="" class="img-circle img-responsive">
                    </div>
                   <div class="col-md-10 col-sm-8">
                    <textarea [(ngModel)]="descripcion" name="descripcion" id="descripcion" placeholder="Descripcion.." class="form-control"></textarea>
                   </div>
                    <button type="submit" id="submit" (click)="addPublicacion()" class="btn btn-info">
                        <i class="material-icons">add</i>
                        Añadir Publicacion
                    </button>   
                </div>
                <div class="card-content" *ngIf='!isLoggedIn()'>
                    <a routerLink='/login' class="btn btn-info">TIENES QUE INICIAR SESSION PARA COMENTAR! :)</a>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div *ngFor="let publicacion of publicaciones | async" class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="card-header" data-background-color="red">
                                        <i class="material-icons">comment</i>
                                        {{ publicacion.descripcion}}
                                </div>
                                <div class="card-content">
                                    <div class="col-md-5 col-sm-4 col-xs-3">
                                        <img src="{{publicacion.photoURL}}" alt="" class="img-circle img-responsive"> 
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-9">
                                        <p class="category">
                                            {{publicacion.name}}
                                        </p>
                                    </div>    
                                           
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <a [routerLink]="['/detalles/',publicacion.id]" (click)="responder_comment(publicacion.id)" class="btn btn-default">
                                            <i class="material-icons" id="responder">navigate_next</i>
                                            Responder
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>       
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
