<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Lima - Chosica</h4>
                        <p class="category">Tarifario común de las líneas que van de Lima hacia Chosica</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Escolar</th>
                                    <th>Medio y/o universitario</th>
                                    <th>Zonal</th>
                                    <th>Urbano</th>
									<th>Inter-Urbano</th>
									<th>Directo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>S/. 0.50</td>
                                    <td>S/. 2.00</td>
                                    <td>S/. 1.50</td>
									<td>S/. 1.00</td>
									<td>S/. 1.00</td>
									<td>S/. 3.00</td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
			
			<div class="col-md-12">
                <div class="card">
					<div class="card-header" data-background-color="red">
							<h4 class="title">Corredor Azul</h4>
							<p class="category">Tarifario de las rutas del corredor azul</p>
					</div>
					<div class="card-content table-responsive">
						<table class="table">
							<thead class="text-danger">
								<tr>
									<th></th>
									<th>Amancaes - Olavide</th>
									<th>Flor de Amancaes - Amancaes</th>
									<th>Expreso</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Adulto</td>
									<td>S/. 1.50</td>
									<td>S/. 1.20</td>
									<td>S/. 1.50</td>
								</tr> 
								<tr>
									<td>Estudiante</td>
									<td>S/. 0.70</td>
									<td>S/. 0.60</td>
									<td>S/. 0.70</td>
								</tr> 								
							</tbody>
						</table>								
					</div>
				</div>
			</div>


			<div class="col-md-12">
                <div class="card">
					<div class="card-header" data-background-color="red">
							<h4 class="title">Corredor Morado</h4>
							<p class="category">Tarifario de las rutas del corredor morado</p>
					</div>
					<div class="card-content table-responsive">
						<table class="table">
							<thead class="text-danger">
								<tr>
									<th></th>
									<th>Lima - SJL</th>
									<th>Solo SJL</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Adulto</td>
									<td>S/. 1.50</td>
									<td>S/. 1.00</td>
								</tr> 
								<tr>
									<td>Estudiante</td>
									<td>S/. 0.70</td>
									<td>S/. 0.50</td>
								</tr> 								
							</tbody>
						</table>								
					</div>
				</div>
			</div>
			
           
        </div>
    </div>
</div>
